<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szahch.dao.UserForActionGroupDao">
	<resultMap type="com.szahch.pojo.UserForActionGroup" id="UserForActionGroup">
		<result property="id" column="ID" />
		<result property="groupId" column="GROUP_ID" />
		<result property="userId" column="USER_ID" />
		<association property="actionGroup" column="GROUP_ID"
			select="com.szahch.dao.ActionGroupDao.queryById" />
	</resultMap>

	<sql id="UGTable">
		FARMLAND_TABLE_UG
	</sql>

	<sql id="UGColumnList">
		ID,
		GROUP_ID,
		USER_ID
	</sql>

	<select id="queryByUserId" resultMap="UserForActionGroup">
		select
		<include refid="UGColumnList" />
		from
		<include refid="UGTable" />
		where USER_ID = #{userId}
	</select>

	<select id="queryUserForActionGroupListByUserId" resultMap="UserForActionGroup">
		select
		<include refid="UGColumnList" />
		from
		<include refid="UGTable" />
		where USER_ID = #{userId}
	</select>

</mapper>