<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szahch.dao.UserDao">
	<!-- 登录查询时单纯查询以下4个字段 -->
	<resultMap type="com.szahch.pojo.User" id="UserOnly">
		<result property="id" column="ID" />
		<result property="username" column="ACCOUNT" />
		<result property="password" column="PASSWORD" />
		<result property="name" column="NAME" />
	</resultMap>

	<!-- 登录成功后查询获得user全部的信息 -->
	<resultMap type="com.szahch.pojo.User" id="UserWithAction">
		<id column="ID" property="id" />
		<result property="id" column="ID" />
		<result property="username" column="ACCOUNT" />
		<result property="password" column="PASSWORD" />
		<result property="name" column="NAME" />
		<collection property="groups" column="ID" javaType="ArrayList"
			select="com.szahch.dao.UserForActionGroupDao.queryByUserId" />
	</resultMap>

	<sql id="UserTable">
		FARMLAND_TABLE_USER
	</sql>

	<sql id="User_Column_List">
		ID,
		ACCOUNT,
		PASSWORD,
		NAME
	</sql>

	<select id="queryByUserName" resultMap="UserOnly">
		select
		<include refid="User_Column_List" />
		from
		<include refid="UserTable" />
		where ACCOUNT = #{username}
	</select>

	<select id="queryById" resultMap="UserWithAction" parameterType="Object">
		select
		<include refid="User_Column_List" />
		from
		<include refid="UserTable" />
		where ID = #{id}
	</select>

</mapper>