<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szahch.dao.UserDao">

	<!-- Result Map -->
	<resultMap type="com.szahch.pojo.User" id="BaseResultMap">
		<result property="id" column="USER_ID" />
		<result property="account" column="USER_ACCOUNT" />
		<result property="password" column="USER_PASSWORD" />
		<result property="permission" column="USER_PERMISSION" />
		<result property="name" column="USER_NAME" />
		<result property="mobliePhoneNumber" column="USER_MOBILE_PHONE_NUMBER" />
		<result property="telphoneNumber" column="USER_TELPHONE_NUMBER" />
	</resultMap>

	<!-- 表名 -->
	<sql id="TableName">
		TABLE_FARMLAND_USER
	</sql>

	<!-- 表中所有列 -->
	<sql id="Base_Column_List">
		USER_ID,
		USER_ACCOUNT,
		USER_PASSWORD,
		USER_PERMISSION,
		USER_NAME,
		USER_MOBILE_PHONE_NUMBER,
		USER_TELPHONE_NUMBER
	</sql>

	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from TABLE_FARMLAND_USER where USER_ID = #{id}
	</select>


</mapper>