
<!-- 属性表单模版函数 -->
<div id="drag" style="width: 50%; height: 400px;">
	<div class="title">
		<h2>属性</h2>
		<div>
			<a class="min" href="javascript:;" title="最小化"></a> <a class="max"
				href="javascript:;" title="最大化"></a> <a class="revert"
				href="javascript:;" title="还原"></a> <a class="close"
				href="javascript:;" title="关闭"></a>
		</div>
	</div>
	<div class="resizeL"></div>
	<div class="resizeT"></div>
	<div class="resizeR"></div>
	<div class="resizeB"></div>
	<div class="resizeLT"></div>
	<div class="resizeTR"></div>
	<div class="resizeBR"></div>
	<div class="resizeLB"></div>
	<div id="content" class="content">
		<div id="myTableNode" style="bottom: 0px; left: 0px;"></div>
		<div id="bot"></div>
	</div>
</div>
